.BtnGreenA, .BtnGreenB, .BtnGreenC, .BtnBlueA, .BtnBlueB, .BtnBlueC, .BtnGrayA, .BtnGrayB, .BtnGrayC ,.BtnQuery, .BtnExport
{
    background-image: url(../../Images/BtnBG.png);
    background-repeat: no-repeat;
}
.BtnGreenA, .BtnGreenB, .BtnGreenC, .BtnBlueA, .BtnBlueB, .BtnBlueC, .BtnGrayA, .BtnGrayB, .BtnGrayC,.BtnQuery, .BtnExport
{
    border: 0px;
    font-size: 16px;
    height: 31px;
}
.BtnGreenA, .BtnGreenB, .BtnGreenC, .BtnBlueA, .BtnBlueB, .BtnBlueC
{
    color: White;
}
.BtnGrayA, .BtnGrayB, .BtnGrayC
{
    color: #757575;
}
.BtnGreenA, .BtnBlueA, .BtnGrayA
{
    width: 166px;
}
.BtnGreenB, .BtnBlueB, .BtnGrayB
{
    width: 126px;
}
.BtnGreenC, .BtnBlueC, .BtnGrayC
{
    width:86px;
}
.BtnQuery
{
    width:86px;
}
.BtnExport
{
	width:83px;
}
.BtnGreenA
{
    background-position:0 0;
}
.BtnGreenA:hover
{
    background-position:0 -31px;
}
.BtnGreenB
{
    background-position:0 -101px;
}
.BtnGreenB:hover
{
    background-position:0 -132px;
}
.BtnGreenC
{
    background-position:0 -202px;
}
.BtnGreenC:hover
{
    background-position:0 -233px;
}
.BtnBlueA
{
    background-position:0 -304px;
}
.BtnBlueA:hover
{
    background-position:0 -335px;
}
.BtnBlueB
{
    background-position:0 -405px;
}
.BtnBlueB:hover
{
    background-position:0 -436px;
}
.BtnBlueC
{
    background-position:0 -506px;
}
.BtnBlueC:hover
{
    background-position:0 -537px;
}
.BtnGrayA
{
    background-position:0 -610px;
}
.BtnGrayA:hover
{
    background-position:0 -641px;
}
.BtnGrayB
{
    background-position:0 -711px;
}
.BtnGrayB:hover
{
    background-position:0 -742px;
}
.BtnGrayC
{
    background-position:0 -812px;
}
.BtnGrayC:hover
{
    background-position:0 -843px;
}
.BtnQuery
{
	background-position:0 -907px;	
}
.BtnQuery:hover
{
	background-position:0 -938px;	
}
.BtnExport
{
	background-position:0 -1003px;	
}
.BtnExport:hover
{
	background-position:0 -1034px;	
}
