blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,th,ul {
	margin: 0;
	padding: 0
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

ol,ul {
	list-style: none
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: 400
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

caption,th {
	text-align: left
}

q:after,q:before {
	content: ''
}

a {
	outline: none;
	behavior: expression(this.onFocus=this.blur())
}/*!
 * https://github.com/arqex/react-datetime
 */.rdt {
	position: relative;
	display: inline-block;
	width: 50%
}

.rdtPicker {
	display: none;
	position: absolute;
	margin-top: -5px;
	width: 250px;
	padding: 4px;
	z-index: 99999!important;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	border: 1px solid #dfdfdf
}

.rdtOpen .rdtPicker {
	display: block
}

.rdtStatic .rdtPicker {
	box-shadow: none;
	position: static
}

.rdtPicker .rdtTimeToggle {
	text-align: center
}

.rdtPicker table {
	width: 100%;
	margin: 0
}

.rdtPicker td,.rdtPicker th {
	text-align: center;
	height: 28px
}

.rdtPicker .rdtTimeToggle:hover,.rdtPicker td.rdtHour:hover,.rdtPicker td.rdtMinute:hover,.rdtPicker td.rdtSecond:hover,.rdtPicker td.rdtToday:hover {
	background: #eee;
	cursor: pointer
}

.rdtPicker td.rdtNew,.rdtPicker td.rdtOld {
	color: #999
}

.rdtPicker td.rdtToday {
	position: relative
}

.rdtPicker td.rdtToday:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #428bca;
	border-top-color: rgba(0,0,0,.2);
	position: absolute;
	bottom: 4px;
	right: 4px
}

.rdtPicker td.rdtActive,.rdtPicker td.rdtActive:hover {
	background-color: #428bca;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25)
}

.rdtPicker td.rdtActive.rdtToday:before {
	border-bottom-color: #fff
}

.rdtPicker td.rdtDisabled,.rdtPicker td.rdtDisabled:hover {
	background: none;
	color: #999;
	cursor: not-allowed
}

.rdtPicker td span.rdtOld {
	color: #999
}

.rdtPicker td span.rdtDisabled,.rdtPicker td span.rdtDisabled:hover {
	background: none;
	color: #999;
	cursor: not-allowed
}

.rdtPicker th {
	border-bottom: 1px solid #f9f9f9
}

.rdtPicker .dow {
	width: 14.2857%;
	border-bottom: none
}

.rdtPicker th.rdtSwitch {
	width: 100px
}

.rdtPicker th.rdtNext,.rdtPicker th.rdtPrev {
	font-size: 21px;
	vertical-align: top
}

.rdtPicker th.rdtDisabled,.rdtPicker th.rdtDisabled:hover {
	background: none;
	color: #999;
	cursor: not-allowed
}

.rdtPicker thead tr:first-child th {
	cursor: pointer
}

.rdtPicker thead tr:first-child th:hover {
	background: #eee
}

.rdtPicker tfoot {
	border-top: 1px solid #f9f9f9
}

.rdtPicker button {
	border: none;
	background: none;
	cursor: pointer
}

.rdtPicker button:hover {
	background-color: #eee
}

.rdtPicker thead button {
	width: 100%;
	height: 100%
}

td.rdtMonth,td.rdtYear {
	height: 50px;
	width: 25%;
	cursor: pointer
}

td.rdtMonth:hover,td.rdtYear:hover {
	background: #eee
}

.rdtCounters {
	display: inline-block
}

.rdtCounters>div {
	float: left
}

.rdtCounter {
	height: 100px;
	width: 40px
}

.rdtCounterSeparator {
	line-height: 100px
}

.rdtCounter .rdtBtn {
	height: 40%;
	line-height: 40px;
	cursor: pointer
}

.rdtCounter .rdtBtn:hover {
	background: #eee
}

.rdtCounter .rdtCount {
	height: 20%;
	font-size: 1.2em
}

.rdtMilli {
	vertical-align: middle;
	padding-left: 8px;
	width: 48px
}

.rdtMilli input {
	width: 100%;
	font-size: 1.2em;
	margin-top: 37px
}

@font-face {
	font-family:esball;src:url(_/fonts/esball.eot?86875bf);src:url(_/fonts/esball.eot?86875bf#iefix) format("embedded-opentype"),url(_/fonts/esball.woff?86875bf) format("woff"),url(_/fonts/esball.ttf?86875bf) format("truetype"),url(_/images/fonts/esball.svg?86875bf#esballregular) format("svg");font-weight:400;font-style:normal
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

@keyframes fadein {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.bank-confirm {
	margin: 1em auto;
	border: .2em solid #dfdfdf;
	min-width: 33.33333em
}

.bank-confirm .table-tr {
	color: #767676;
	border-bottom: .06667em solid #dfdfdf
}

.bank-confirm .table-tr .table-td-qrcode,.bank-confirm .table-tr .table-td-title,.bank-confirm .table-tr .table-td-value {
	display: inline-block;
	vertical-align: middle;
	padding: .5em 0 .5em 2%
}

.bank-confirm .table-tr .table-td-title,.bank-confirm .table-tr .table-td-value {
	line-height: 2em;
	word-break: break-all
}

.bank-confirm .table-tr .table-td-title {
	width: 30%
}

.bank-confirm .table-tr .table-td-value {
	width: 65%
}

.bank-confirm .table-tr:nth-child(odd) {
	background-color: #fbfbfb
}

.ReactModalPortal {
	position: relative;
	z-index: 10
}

.ReactModalPortal .modal-dailog-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(24,39,56,.8);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.ReactModalPortal .modal-dailog-overlay .abandon-Y {
	-webkit-transform: rotate(0);
	transform: rotate(0)
}

.ReactModalPortal .modal-dailog-overlay .abandon-N {
	-webkit-transform: rotate(.1);
	transform: rotate(.1)
}

.modal-dialog-wrap {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 500px;
	margin: 50px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	background: #fff;
	transition: all .5s
}

.modal-btn {
	margin-top: 1.33333em
}

.ui-close-btn {
	float: left;
	color: #000;
	background-color: #f3f3f3
}

.ui-close-btn,.ui-continue-btn {
	width: 45%;
	padding: .6em;
	text-align: center;
	border: none
}

.ui-continue-btn {
	float: right;
	color: #fff;
	background-color: #34c3d6
}

.ui-continue-btn.single-btn {
	width: 100%
}

.clearfix {
	*zoom: 1
}

.clearfix:after,.clearfix:before {
	content: "";
	display: table
}

.clear,.clearfix:after {
	clear: both
}

.clear {
	margin: 0;
	padding: 0
}

.zh-cn {
	font-family: STHeiti,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,SimSun,\\5B8B\4F53,arial
}

.zh-tw {
	font-family: Microsoft JhengHei,\\5FAE\8EDF\6B63\9ED1\9AD4,arial,helvetica,sans-serif
}

body {
	margin-bottom: 100px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	font-size: 15px;
	letter-spacing: .06667em;
	line-height: 1.5em
}

body:after {
	content: " ";
	display: block;
	clear: both
}

header {
	position: relative;
	background-color: #32323c;
	padding: .5em 0;
	-webkit-animation: header-keyframes .5s linear .2s 1;
	animation: header-keyframes .5s linear .2s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: translateY(-5em);
	transform: translateY(-5em)
}

.logo {
	margin: 0 auto;
	display: block;
	width: 13.33333em;
	height: 4.13333em
}

.header-deposit-sop {
	position: absolute;
	top: .5em;
	right: 1em;
	bottom: auto;
	left: auto;
	width: 4em;
	height: 4em;
	cursor: pointer;
	background: url(_/images/member/question.svg?86875bf) 50%/50% no-repeat;
	transition: all .5s;
	-webkit-animation: fadein 2s;
	animation: fadein 2s
}

.header-deposit-sop:hover {
	-webkit-transform: rotate(2turn);
	transform: rotate(2turn)
}

.back-step-1 {
	position: absolute;
	top: 1em;
	right: 1em;
	bottom: auto;
	left: auto;
	width: 3em;
	height: 2em;
	cursor: pointer;
	color: #b0b0bd;
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	transition: all .5s;
	-webkit-animation: fadein 2s;
	animation: fadein 2s
}

.back-step-1:before {
	font-family: esball;
	content: "\E010"
}

.back-step-1:hover {
	-webkit-transform: rotate(2turn);
	transform: rotate(2turn)
}

@-webkit-keyframes header-keyframes {
	0% {
		-webkit-transform: translateY(-5em);
		transform: translateY(-5em)
	}

	50% {
		-webkit-transform: translateY(-2.5em);
		transform: translateY(-2.5em)
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@keyframes header-keyframes {
	0% {
		-webkit-transform: translateY(-5em);
		transform: translateY(-5em)
	}

	50% {
		-webkit-transform: translateY(-2.5em);
		transform: translateY(-2.5em)
	}

	to {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

.map-wrap .map-step {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 25px
}

.map-wrap .map-step .map-line {
	width: 0;
	height: 2px;
	top: 50%;
	bottom: 50%;
	left: -1.66667em;
	margin-top: -1px;
	z-index: 1;
	-webkit-animation: extend-keyframes .2s linear .2s 1;
	animation: extend-keyframes .2s linear .2s 1;
	animation-fill-mode: forwards
}

.map-wrap .map-step .map-circle,.map-wrap .map-step .map-line {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	background-color: #eee;
	position: absolute;
	-webkit-animation-fill-mode: forwards
}

.map-wrap .map-step .map-circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	top: 0;
	left: 0;
	z-index: 2;
	-webkit-animation: buble-keyframes .3s linear .2s 1;
	animation: buble-keyframes .3s linear .2s 1;
	animation-fill-mode: forwards
}

.map-wrap .map-step .cur-circle {
	width: 25px;
	height: 25px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	-webkit-transform: scale(0);
	transform: scale(0);
	border: .2em solid #34c3d6
}

.map-wrap :first-child .map-line {
	display: none
}

.map-wrap .map-cur-step .cur-circle {
	-webkit-animation: buble-keyframes .3s linear .6s 1;
	animation: buble-keyframes .3s linear .6s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

@-webkit-keyframes buble-keyframes {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}

	80% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}

	85% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3)
	}

	90% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}

	95% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3)
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes buble-keyframes {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	50% {
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}

	80% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}

	85% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3)
	}

	90% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}

	95% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3)
	}

	to {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes extend-keyframes {
	0% {
		width: 0
	}

	to {
		width: 20px
	}
}

@keyframes extend-keyframes {
	0% {
		width: 0
	}

	to {
		width: 20px
	}
}

hr {
	border: 0;
	height: .06667em;
	background-color: #eee;
	color: #eee;
	margin: 2em 0
}

.body-wrap {
	padding: 1em 2em 5em
}

.body-note {
	display: block;
	margin: 1em 0;
	background-color: #fbfbfb;
	color: #f24f4b;
	font-size: .86em;
	padding: 1em;
	border-left: .6em solid #f3f3f3
}

.body-process {
	padding: 2em 0
}

.body-process .process-txt {
	float: left
}

.body-process .process-txt .process-title {
	font-size: 1.1em
}

.body-process .process-txt .container-explain {
	color: #767676
}

.body-process .map-wrap {
	float: right
}

.container-remit-warn {
	margin: 1em;
	color: #767676
}

.container-remit-warn ul {
	list-style-type: decimal;
	padding-left: 2em
}

.container-custom-warn {
	position: relative;
	margin: 1em 0;
	padding: 2em .6em
}

.container-custom-warn:before {
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	content: url(_/images/member/quote_left.svg?86875bf);
	width: 2em
}

.container-custom-warn:after {
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;
	left: auto;
	content: url(_/images/member/quote_right.svg?86875bf);
	width: 2em
}

.body-bank-choose li {
	width: 14.89362%;
	float: left;
	transition: all .5s;
	padding: 2em 0
}

.body-bank-choose li:nth-child(6n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.body-bank-choose li:nth-child(6n+2) {
	margin-left: 17.02128%;
	margin-right: -100%;
	clear: none
}

.body-bank-choose li:nth-child(6n+3) {
	margin-left: 34.04255%;
	margin-right: -100%;
	clear: none
}

.body-bank-choose li:nth-child(6n+4) {
	margin-left: 51.06383%;
	margin-right: -100%;
	clear: none
}

.body-bank-choose li:nth-child(6n+5) {
	margin-left: 68.08511%;
	margin-right: -100%;
	clear: none
}

.body-bank-choose li:nth-child(6n+6) {
	margin-left: 85.10638%;
	margin-right: -100%;
	clear: none
}

.body-bank-choose .bank-choose-title {
	display: block;
	width: 100%;
	text-align: center
}

.bank-circle {
	margin: 0 auto;
	width: 7em;
	height: 7em;
	border-radius: 50%;
	border: .2em solid #dfdfdf;
	cursor: pointer;
	text-align: center;
	transition: all .3s
}

.bank-circle span {
	display: block;
	margin-top: 20%
}

.bank-circle img {
	width: 60%;
	height: 60%
}

.remit-info {
	width: 48.93617%;
	float: left;
	margin: 1em 0;
	border: .2em solid #dfdfdf;
	position: relative;
	transition: all .3s;
	cursor: pointer
}
.mycount .remit-info:nth-child(2n+2) {
	margin-left: 5px;
}
/*.mycount .remit-info:nth-child(2n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.mycount .remit-info:nth-child(2n+2) {
	margin-left: 51.06383%;
	margin-right: -100%;
	clear: none
}*/

.remit-info .table-tr {
	color: #767676;
	border-bottom: .06667em solid #dfdfdf
}

.remit-info .table-tr .table-td-qrcode,.remit-info .table-tr .table-td-title,.remit-info .table-tr .table-td-value {
	display: inline-block;
	vertical-align: middle;
	padding: .5em 0 .5em 2%
}

.remit-info .table-tr .table-td-title,.remit-info .table-tr .table-td-value {
	line-height: 2em;
	word-break: break-all
}

.remit-info .table-tr .table-td-title {
	width: 30%
}

.remit-info .table-tr .table-td-value {
	width: 65%
}

.remit-info .table-tr:nth-child(odd) {
	background-color: #fbfbfb
}

.remit-info .deposit-checkbox {
	position: absolute;
	top: .5em;
	right: 1em;
	bottom: auto;
	left: auto
}

.remit-info .deposit-checkbox input {
	display: none;
	box-sizing: border-box;
	padding: 0
}

.remit-info .deposit-checkbox input:checked+label {
	background-color: #34c3d6;
	transition: all .3s
}

.remit-info .deposit-checkbox input:checked+label:after {
	display: block;
	content: '\E905';
	font-family: esball;
	text-align: center;
	color: #fff
}

.remit-info .deposit-checkbox label {
	display: inline-block;
	width: 2.13333em;
	height: 2.13333em;
	line-height: 2.13333em;
	background-color: #dfdfdf;
	border-radius: .33333em
}

.remit-info .remit-star,.remit-info .table-td-bankname {
	display: inline-block;
	vertical-align: middle
}

.remit-info .remit-star {
	margin-left: 1%;
	width: 1.13333em;
	height: 1.13333em;
	background: url(_/images/member/recommend_en.png?86875bf) 50%/100% no-repeat
}

.recommend .table-tr:first-child {
	background-color: #fff2f1
}

.process-recommend {
	padding-left: 1.33333em;
	background: url(_/images/member/recommend_en.png?86875bf) 0 no-repeat
}

.zh-cn .process-recommend,.zh-cn .remit-star,.zh-tw .process-recommend,.zh-tw .remit-star {
	background: url(_/images/member/recommend.png?86875bf) 0 no-repeat
}

.body-bank-step-1,.body-bank-step-2 {
	border-bottom: .5em solid #f3f3f3;
	padding: 1em 0
}

.body-bank-step-3 {
	padding: 1em 0
}

.bank-step-title span {
	display: inline-block;
	line-height: 1.66667em
}

.bank-step-title span:nth-child(2) {
	padding-left: 10px;
	font-weight: 700
}

.bank-step-title .num {
	width: 1.66667em;
	height: 1.66667em;
	text-align: center;
	border: .13333em solid;
	border-radius: 50%
}

.bank-step-note {
	padding: 0 0 1em 2.5em;
	color: #767676
}

.bank-step-bankinfo {
	width: 100%;
	border: 3px solid #dfdfdf
}

.bank-step-bankinfo tr {
	border-bottom: 1px solid #dfdfdf
}

.bank-step-bankinfo tr th {
	width: 20%;
	word-break: break-all
}

.bank-step-bankinfo tr td,.bank-step-bankinfo tr th {
	display: inline-block;
	line-height: 2em;
	padding: .5em 0 .5em 1%;
	vertical-align: middle
}

.bank-step-bankinfo tr .qrcode {
	display: block
}

.bank-step-bankinfo tr .bank-copy-wrap {
	margin-left: 1%;
	width: 12%;
	border-left: .06667em solid #dfdfdf;
	text-align: center;
	padding: 0 1%
}

.bank-step-bankinfo tr th+td {
	width: 62%;
	word-break: break-all
}

.bank-step-bankinfo tr .bank-step-copy {
	cursor: pointer
}

.bank-step-bankinfo tr .bank-step-copy:hover {
	color: #34c3d6
}

.bank-step-bankinfo tr .bank-step-copy:before {
	font-family: esball;
	content: "\F0C5   "
}

.bank-step-bankinfo tr:nth-child(odd) {
	background-color: #fbfbfb
}

.account-info {
	width: 48.93617%;
	float: left;
	position: relative;
	margin: .5em;
	color: #767676
}

.account-info:nth-child(2n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.account-info:nth-child(2n+2) {
	margin-left: 51.06383%;
	margin-right: -100%;
	clear: none
}

.account-info .account-info-wrap {
	border: .06667em solid #dfdfdf;
	background-color: #fbfbfb
}

.account-info label {
	width: 20%;
	cursor: text
}

.account-info input,.account-info label {
	display: inline-block;
	vertical-align: middle;
	line-height: 2em;
	padding: .5em 0 .5em 1%
}

.account-info input {
	width: 75%;
	min-height: 2em;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1em
}

.account-info .rdt input {
	padding: 0
}

.account-info .rdt {
	padding: .5em 0 .5em 1%
}

.account-info textarea {
	display: inline-block;
	margin: .5em 0 .5em 1%;
	vertical-align: middle;
	width: 75%;
	height: 5em;
	resize: none;
	border-color: #dfdfdf
}

.account-info .etime {
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	line-height: 2em;
	padding: .5em 0 .5em 1%;
	text-align: right
}

.account-info .error-msg {
	display: block;
	margin-left: 1%;
	color: #f24f4b
}

.deposit-info {
	width: 48.93617%;
	float: left;
	padding: 2em 0 1.5em
}

.deposit-info:nth-child(2n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.deposit-info:nth-child(2n+2) {
	margin-left: 51.06383%;
	margin-right: -100%;
	clear: none
}

.deposit-info .deposit-checkbox {
	float: left;
	margin-top: .3em
}

.deposit-info .deposit-checkbox input {
	display: none;
	box-sizing: border-box;
	padding: 0
}

.deposit-info .deposit-checkbox input:checked+label {
	background-color: #34c3d6;
	transition: all .3s
}

.deposit-info .deposit-checkbox input:checked+label:after {
	display: block;
	content: '\E905';
	font-family: esball;
	text-align: center;
	color: #fff
}

.deposit-info .deposit-checkbox label {
	display: inline-block;
	width: 2.13333em;
	height: 2.13333em;
	line-height: 2.13333em;
	background-color: #dfdfdf;
	border-radius: .33333em
}

.deposit-info .deposit-txt {
	float: left;
	margin-left: 2em;
	line-height: 1.33333em
}

.deposit-info .deposit-txt .deposit-name {
	line-height: 2
}

.deposit-info .deposit-txt .deposit-container {
	margin-bottom: .5em;
	color: #767676
}

.deposit-info .deposit-txt .deposit-link {
	font-size: .86em
}

.deposit-info .deposit-txt .deposit-link a {
	color: #0f86c3
}

.body-bank-step-atm {
	background-color: #f3f3f3;
	padding: 1.5em 2em
}

.body-bank-step-atm .bank-step-atminfo {
	width: 48.93617%;
	float: left;
	position: relative;
	color: #767676;
	margin: .5em
}

.body-bank-step-atm .bank-step-atminfo:nth-child(2n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.body-bank-step-atm .bank-step-atminfo:nth-child(2n+2) {
	margin-left: 51.06383%;
	margin-right: -100%;
	clear: none
}

.body-bank-step-atm .bank-step-atminfo .bank-step-atm-wrap {
	border: .06667em solid #dfdfdf;
	background-color: #fbfbfb
}

.body-bank-step-atm .bank-step-atminfo label {
	display: inline-block;
	width: 20%;
	line-height: 2em;
	padding: .5em 0 .5em 1%;
	cursor: text
}

.body-bank-step-atm .bank-step-atminfo input {
	display: inline-block;
	width: 75%;
	line-height: 2em;
	padding: .5em 0 .5em 1%;
	background-color: transparent;
	outline: none;
	border: none;
	font-size: 1em
}

.body-bank-step-atm .bank-step-atminfo select {
	float: left;
	width: 20%;
	height: 3em;
	padding-left: 1%;
	border: none;
	border-right: .06667em solid #dfdfdf;
	font-size: 1em;
	color: #767676
}

.body-bank-step-atm .bank-step-atminfo span {
	display: block;
	margin-left: 1%;
	color: #f24f4b
}

.bank-step-atminfo.is_error .bank-step-atm-wrap,.is_error .account-info-wrap {
	background-color: #fef2f1;
	border-color: #f24f4b
}

.bank-remind-info {
	margin: 3em 0 2em;
	text-align: center
}

.bank-remind-icon {
	margin: 0 auto;
	width: 5em;
	height: 5em;
	background: url(_/images/member/file.svg?86875bf) top/100% no-repeat
}

.selected {
	border-color: #34c3d6
}

.sop-header {
	padding: 2em 0
}

.sop-header h1 {
	font-size: 1.2em
}

.sop-header p {
	color: #767676
}

.body-wrap.sop {
	padding: 0
}

.sop-wrap {
	padding: 1.33333em 2.13333em 0
}

.sop-step {
	padding: 2em 1em;
	border-bottom: .5em solid #f3f3f3
}

.sop-step:last-child {
	border-bottom: none
}

.sop-step-num {
	float: left;
	padding-right: .66667em;
	line-height: 1;
	font-size: 5em;
	color: #34c3d6
}

.sop-step-explain {
	float: left;
	width: 90%
}

.sop-step-explain h2 {
	margin-top: .66667em;
	font-size: 1.2em
}

.sop-step-explain div {
	line-height: 2.33333em;
	color: #767676
}

.sop-step-explain .sop-step-icon {
	width: 31.91489%;
	float: left;
	text-align: center
}

.sop-step-explain .sop-step-icon:nth-child(3n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.sop-step-explain .sop-step-icon:nth-child(3n+2) {
	margin-left: 34.04255%;
	margin-right: -100%;
	clear: none
}

.sop-step-explain .sop-step-icon:nth-child(3n+3) {
	margin-left: 68.08511%;
	margin-right: -100%;
	clear: none
}

.sop-step-explain .sop-step-img-1 {
	margin: 1em auto;
	padding: 2em;
	width: 4em;
	height: 4em;
	background: url(_/images/member/deposit_bank.svg?86875bf) 50%/50% #eee no-repeat;
	border-radius: 50%
}

.sop-step-explain .sop-step-img-2 {
	margin: 1em auto;
	padding: 2em;
	width: 4em;
	height: 4em;
	background: url(_/images/member/deposit_atm.svg?86875bf) 50%/50% #eee no-repeat;
	border-radius: 50%
}

.sop-step-explain .sop-step-img-3 {
	margin: 1em auto;
	padding: 2em;
	width: 4em;
	height: 4em;
	background: url(_/images/member/deposit_transfer.svg?86875bf) 50%/50% #eee no-repeat;
	border-radius: 50%
}

.sop-footer {
	position: relative;
	padding: 2em;
	background-color: #34c3d6;
	color: #fff
}

.sop-footer:after {
	position: absolute;
	content: "";
	background: url(_/images/member/deposit_time.svg?86875bf) top/15% no-repeat;
	opacity: .2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

.sop-footer-title {
	margin-bottom: .5em;
	font-size: 2em;
	text-align: center
}

.sop-footer-list {
	width: 48.93617%;
	float: left;
	box-sizing: border-box;
	text-align: center
}

.sop-footer-list:nth-child(2n+1) {
	margin-right: -100%;
	clear: both;
	margin-left: 0
}

.sop-footer-list:nth-child(2n+2) {
	margin-left: 51.06383%;
	margin-right: -100%;
	clear: none
}

.sop-footer-list .sop-footer-item {
	margin-bottom: .5em;
	font-size: 1.1em
}

.sop-footer-list .sop-footer-bg {
	background-color: #fff
}

.sop-footer-list .sop-footer-wrap {
	margin: 0 auto;
	padding: 1em 3em;
	color: #767676;
	height: 10em;
	box-sizing: border-box
}

.sop-footer-list .sop-footer-wrap div {
	text-align: center;
	color: #34c3d6
}

footer {
	position: fixed;
	bottom: -4.33333em;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 .5em #d2d1d1;
	padding: .5em 0;
	-webkit-animation: footer-keyframes .5s linear .2s 1;
	animation: footer-keyframes .5s linear .2s 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards
}

.footer-l-btn {
	float: left;
	background-color: #f3f3f3;
	color: #000
}

.footer-l-btn,.footer-r-btn {
	width: 20%;
	height: 3.5em;
	cursor: pointer;
	margin: 0 .5em;
	text-align: center;
	line-height: 3.5em;
	border: none
}

.footer-r-btn {
	float: right;
	background-color: #34c3d6;
	color: #fff
}

@-webkit-keyframes footer-keyframes {
	0% {
		bottom: -4.4em
	}

	to {
		bottom: 0
	}
}

@keyframes footer-keyframes {
	0% {
		bottom: -4.4em
	}

	to {
		bottom: 0
	}
}

@media screen and (max-width:62em) {
	.body-bank-choose li {
		width: 18.29787%;
		float: left
	}

	.body-bank-choose li:nth-child(5n+1) {
		margin-right: -100%;
		clear: both;
		margin-left: 0
	}

	.body-bank-choose li:nth-child(5n+2) {
		margin-left: 20.42553%;
		margin-right: -100%;
		clear: none
	}

	.body-bank-choose li:nth-child(5n+3) {
		margin-left: 40.85106%;
		margin-right: -100%;
		clear: none
	}

	.body-bank-choose li:nth-child(5n+4) {
		margin-left: 61.2766%;
		margin-right: -100%;
		clear: none
	}

	.body-bank-choose li:nth-child(5n+5) {
		margin-left: 81.70213%;
		margin-right: -100%;
		clear: none
	}

	.bank-confirm {
		min-width: 26.66667em
	}

	.account-info,.body-bank-step-atm .bank-step-atminfo,.deposit-info,.remit-info {
		width: 100%;
		float: left
	}

	.account-info:nth-child(1n+1),.body-bank-step-atm .bank-step-atminfo:nth-child(1n+1),.deposit-info:nth-child(1n+1),.remit-info:nth-child(1n+1) {
		margin-left: 0;
		margin-right: -100%;
		clear: none;
		clear: both
	}
}

@media screen and (max-width:48em) {
	.bank-circle {
		width: 5em;
		height: 5em
	}

	.footer-l-btn,.footer-r-btn {
		width: 45%
	}

	.bank-confirm {
		min-width: 20em
	}
}

@media screen and (max-width:34em) {
	.body-bank-choose li {
		width: 31.91489%;
		float: left
	}

	.body-bank-choose li:nth-child(3n+1) {
		margin-right: -100%;
		clear: both;
		margin-left: 0
	}

	.body-bank-choose li:nth-child(3n+2) {
		margin-left: 34.04255%;
		margin-right: -100%;
		clear: none
	}

	.body-bank-choose li:nth-child(3n+3) {
		margin-left: 68.08511%;
		margin-right: -100%;
		clear: none
	}

	.footer-l-btn,.footer-r-btn {
		width: 45%
	}

	.bank-confirm {
		min-width: 13.33333em
	}

	.modal-dialog-wrap {
		width: 23.33333em
	}
} 
