* {
    font-family: core_sans_n45_regular,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
}

html {
    height: 100%;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    height: 100%;
    position: relative;
}

.btn {
    font-weight: 500;
    -webkit-transition: all .15s;
    transition: all .15s;
    padding: 0 15px;
    line-height: 32px;
    border-radius: 4px;
}
.btn.focus, .btn:focus
.btn.active, .btn:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1989fa;
    border-color: #1989fa;
}

.btn.btn-primary {
    color: #1989fa;
    background-color: rgba(25,137,250,.04);
    border-color: rgba(25,137,250,.4);
}

a:focus, a:hover {
    text-decoration: none;
    color: rgba(25,137,250,.85);
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0570db;
    border-color: #056ad1;
}

.btn.btn-primary:hover {
    color: #fff !important;
    background-color: #1989fa !important;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid #e6e9f0;
    min-height: 45px;
    padding-left: 9px;
    -webkit-font-smoothing: antialiased;
    color: #5e6166;
}

.navbar-default {
    background-color: #fff;
    border-color: #e6e9f0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e6e9f0;
}

.navbar-default .navbar-nav>li>a {
    color: #7a8599;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.navbar-brand {
    height: 60px;
    padding-top: 15px;
}
.navbar-brand img{
    width: 116px;
    height: 30px;
}

.nav .btn-sm{
    margin: 15px 30px 15px 15px;
    padding: 0 16px;
    font-size: 12px;
    line-height: 28px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 0 16px;
    font-size: 12px;
    line-height: 28px;
}

.btn.btn-primary.btn-emphasis {
    color: #fff;
    background-color: #1989fa;
    border-color: #1989fa;
}

.btn.btn-primary.btn-emphasis.zeroclipboard-is-hover, .btn.btn-primary.btn-emphasis:hover {
    background-color: #0577ea;
    border-color: #0577ea;
}

.input-group-btn .btn{
    height: 42px;
    border-color: #e1e6f0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    line-height: 42px;
    padding-right: 10px;
    color: #8f9bb2;
    font-size: 12px;
}

.input-group-btn .btn:focus,
.input-group-btn .btn:hover {
    color: #525459;
    border-color: #e1e6f0;
    background-color: #fff;
}

.input-group-addon{ border-color: #e1e6f0; }

.submit-btn {
    line-height: 42px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}


.hide{ display: none; }

.copyright{
    width: 100%;
    padding: 15px 10px 25px 10px;
    text-align: center;
    color: #8f9bb2;
    position: relative;
    bottom: 0;
}

.form-control, .form-control:focus {
    height: 42px;
    max-width: 300px;
    border-radius: 4px;
    margin-right: 14px;
    border-color: #e1e6f0;
    box-shadow: none;
}

.form-control, .form-group.has-error .form-control, .form-group.has-error .form-control:focus, .form-group.has-success .form-control, .form-group.has-success .form-control:focus, .form-group.has-warning .form-control, .form-group.has-warning .form-control:focus, .modal-content {
    box-shadow: none;
}

.form-group.has-error .form-control, .form-group.has-error .form-control:focus, .form-group.has-error .input-group-btn .btn, .form-group.has-error .input-group-addon {
    border-color: #e55c5c;
}

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #e55c5c;
}

.form-control::-webkit-input-placeholder,
input::-webkit-input-placeholder{color:#b8c7e5;font-weight:400}

.form-control:-moz-placeholder,
input:-moz-placeholder{color:#b8c7e5;font-weight:400;opacity:1}

.form-control::-moz-placeholder,
input::-moz-placeholder{color:#b8c7e5;font-weight:400;opacity:1}

.form-control:-ms-input-placeholder,
input:-ms-input-placeholder{color:#b8c7e5;font-weight:400}

.alert{ padding: 12px; }

.alert-danger .close{
    color: #993d3d;
    font-weight: 700;
    opacity: .5;
}
.alert-danger .close:hover{ opacity: .8; }


#main{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 60px;
    height: 85%;
}

#main .container{
    width: 100%;
    height: 100%;
    display: table;
}

#main .container .form{
    display: table-cell;
    vertical-align: middle;
    width: 300px;
    padding-bottom: 100px;
}

#main .container .form .help-block{ display: none; }
#main .container .form .has-error .help-block{ display: block; }

.field-captcha .input-group-addon{
    padding: 3px;
}

#captcha-image{
    width: 80px;
}

#notice{
    min-height: 48px;
    margin-bottom: 15px;
}
#notice .alert{
    display: none;
    margin-bottom: 0;
}

.field-send-sms{ height: auto; overflow: hidden; }
.field-send-sms .radio-inline{ padding-top: 8px; padding-left: 22px; }
.field-send-sms .btn{ float: right; }
.two-factor-header {margin-bottom: 20px;}
